.clock {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 500px;
	height: 500px;
}
.container {
	width: 100%;
	height: 100%;
}
.clock-circle {
	width: 92%;
	height: 92%;
	background: lightyellow url('../image/Blank-Clock-Face.png') no-repeat 47.5% 46%;
	background-size: 135%;
	border: 20px solid #c9c963;
	border-radius: 50%;
}
.hour, .minute, .second {
	position: absolute;
	border-radius: 50%;
	transform-origin: bottom;
}
.hour {
	top: 20%;
	background: #32cd325c;
	width: 2.5%;
	height: 30%;
	left: 48.75%;
}
.minute {
	top: 10%;
	background: #cd32325e;
	width: 2%;
	height: 40%;
	left: 49%;
}
.second {
	background: lightpink;
	left: 49.6%;
	width: .8%;
	height: 45%;
	top: 5%;
}
